<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meu Crud em Node.js</title>
</head>

<body>
    <h2>Registrar</h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="nome" name="nome">
        <input type="text" placeholder="sobrenome" name="sobrenome">
        <button type="submit">Registrar Agora</button>
    </form>
</body>

</html>